<% include ./partials/header %>

<h1>LOGIN HERE</h1>
<form method="POST" action="/login">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="*****">
   <button>SUBMIT</button>
</form>
<% include ./partials/footer %>